##### >>>   UCF File for Xilinx Spartan-3 FPGA Board   <<< #####
### Created by Spartan-3 UCF Generator on 1/25/2007 at 13:41

### Spartan-3 Clock Oscillator:
NET gClock LOC=T9;  # CLK - 50MHz oscillator

### Spartan-3 Pushbutton Switches:
NET gReset LOC=L14;  # BTN3 (active high)
NET iStartSystem LOC=L13;  # BTN2 (active high)
NET iAutoSensed LOC=M14;  # BTN1 (active high)
NET iSingleStep LOC=M13;  # BTN0 (active high)

### Spartan-3 Slide Switches:
NET iMode<1> LOC=K13;  # SW7 (active high when up)
NET iMode<0> LOC=K14;  # SW6 (active high when up)
CONFIG PROHIBIT=J13;
CONFIG PROHIBIT=J14;
CONFIG PROHIBIT=H13;
CONFIG PROHIBIT=H14;
CONFIG PROHIBIT=G12;
CONFIG PROHIBIT=F12;



### Spartan-3 Discrete LEDs:
NET oSingleStepLED LOC=P11;  # LD7 (active high)
NET oModeLED<1> LOC=P12;  # LD6 (active high)
NET oModeLED<0> LOC=N12;  # LD5 (active high)
CONFIG PROHIBIT=P13;
CONFIG PROHIBIT=N14;
CONFIG PROHIBIT=L12;
NET oStartSystem LOC=P14;  # LD1 (active high)
NET oAutoSensed LOC=K12;  # LD0 (active high)


### Spartan-3 7-Segment LED:   digit enables:
NET oDisplayEnable<3> LOC=E13;  # left digit (active low)
NET oDisplayEnable<2> LOC=F14;  # middle left digit (active low)
NET oDisplayEnable<1> LOC=G14;  # middle right digit (active low)
NET oDisplayEnable<0> LOC=D14;  # right digit (active low)

### Spartan-3 7-Segment LED:   segment enables:
NET oDisplaySegment<7> LOC=E14;  # LED display segment a (active low)
NET oDisplaySegment<6> LOC=G13;  # LED display segment b (active low)
NET oDisplaySegment<5> LOC=N15;  # LED display segment c (active low)
NET oDisplaySegment<4> LOC=P15;  # LED display segment d (active low)
NET oDisplaySegment<3> LOC=R16;  # LED display segment e (active low)
NET oDisplaySegment<2> LOC=F13;  # LED display segment f (active low)
NET oDisplaySegment<1> LOC=N16;  # LED display segment g (active low)
NET oDisplaySegment<0> LOC=P16;  # LED display decimal point (active low)




CONFIG PROHIBIT=T13;
CONFIG PROHIBIT=R13;


CONFIG PROHIBIT=N10;
CONFIG PROHIBIT=T14;


CONFIG PROHIBIT=M16;
CONFIG PROHIBIT=M15;


CONFIG PROHIBIT=R12;
CONFIG PROHIBIT=T12;
CONFIG PROHIBIT=R11;
CONFIG PROHIBIT=R9;
CONFIG PROHIBIT=T10;



CONFIG PROHIBIT=P7;
CONFIG PROHIBIT=T4;
CONFIG PROHIBIT=P6;


CONFIG PROHIBIT=N5;
CONFIG PROHIBIT=R4;
CONFIG PROHIBIT=P5;


CONFIG PROHIBIT=K4;
CONFIG PROHIBIT=G3;


CONFIG PROHIBIT=L3;
CONFIG PROHIBIT=K5;
CONFIG PROHIBIT=K3;
CONFIG PROHIBIT=J3;
CONFIG PROHIBIT=J4;
CONFIG PROHIBIT=H4;
CONFIG PROHIBIT=H3;
CONFIG PROHIBIT=G5;
CONFIG PROHIBIT=E4;
CONFIG PROHIBIT=E3;
CONFIG PROHIBIT=F4;
CONFIG PROHIBIT=F3;
CONFIG PROHIBIT=G4;
CONFIG PROHIBIT=L4;
CONFIG PROHIBIT=M3;
CONFIG PROHIBIT=M4;
CONFIG PROHIBIT=N3;
CONFIG PROHIBIT=L5;


CONFIG PROHIBIT=R1;
CONFIG PROHIBIT=P1;
CONFIG PROHIBIT=L2;
CONFIG PROHIBIT=J2;
CONFIG PROHIBIT=H1;
CONFIG PROHIBIT=F2;
CONFIG PROHIBIT=P8;
CONFIG PROHIBIT=D3;
CONFIG PROHIBIT=B1;
CONFIG PROHIBIT=C1;
CONFIG PROHIBIT=C2;
CONFIG PROHIBIT=R5;
CONFIG PROHIBIT=T5;
CONFIG PROHIBIT=R6;
CONFIG PROHIBIT=T8;
CONFIG PROHIBIT=N7;


CONFIG PROHIBIT=N1;
CONFIG PROHIBIT=M1;
CONFIG PROHIBIT=K2;
CONFIG PROHIBIT=C3;
CONFIG PROHIBIT=F5;
CONFIG PROHIBIT=G1;
CONFIG PROHIBIT=E2;
CONFIG PROHIBIT=D2;
CONFIG PROHIBIT=D1;
CONFIG PROHIBIT=E1;
CONFIG PROHIBIT=G2;
CONFIG PROHIBIT=J1;
CONFIG PROHIBIT=K1;
CONFIG PROHIBIT=M2;
CONFIG PROHIBIT=N2;
CONFIG PROHIBIT=P2;
