//! **************************************************************************
// Written by: Map H.42 on Fri Feb 01 04:47:56 2008
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "J13";
PROHIBIT = SITE "J14";
PROHIBIT = SITE "H13";
PROHIBIT = SITE "H14";
PROHIBIT = SITE "G12";
PROHIBIT = SITE "F12";
PROHIBIT = SITE "P13";
PROHIBIT = SITE "N14";
PROHIBIT = SITE "L12";
PROHIBIT = SITE "T13";
PROHIBIT = SITE "R13";
PROHIBIT = SITE "N10";
PROHIBIT = SITE "T14";
PROHIBIT = SITE "M16";
PROHIBIT = SITE "M15";
PROHIBIT = SITE "R12";
PROHIBIT = SITE "T12";
PROHIBIT = SITE "R11";
PROHIBIT = SITE "R9";
PROHIBIT = SITE "T10";
PROHIBIT = SITE "P7";
PROHIBIT = SITE "T4";
PROHIBIT = SITE "P6";
PROHIBIT = SITE "N5";
PROHIBIT = SITE "R4";
PROHIBIT = SITE "P5";
PROHIBIT = SITE "K4";
PROHIBIT = SITE "G3";
PROHIBIT = SITE "L3";
PROHIBIT = SITE "K5";
PROHIBIT = SITE "K3";
PROHIBIT = SITE "J3";
PROHIBIT = SITE "J4";
PROHIBIT = SITE "H4";
PROHIBIT = SITE "H3";
PROHIBIT = SITE "G5";
PROHIBIT = SITE "E4";
PROHIBIT = SITE "E3";
PROHIBIT = SITE "F4";
PROHIBIT = SITE "F3";
PROHIBIT = SITE "G4";
PROHIBIT = SITE "L4";
PROHIBIT = SITE "M3";
PROHIBIT = SITE "M4";
PROHIBIT = SITE "N3";
PROHIBIT = SITE "L5";
PROHIBIT = SITE "R1";
PROHIBIT = SITE "P1";
PROHIBIT = SITE "L2";
PROHIBIT = SITE "J2";
PROHIBIT = SITE "H1";
PROHIBIT = SITE "F2";
PROHIBIT = SITE "P8";
PROHIBIT = SITE "D3";
PROHIBIT = SITE "B1";
PROHIBIT = SITE "C1";
PROHIBIT = SITE "C2";
PROHIBIT = SITE "R5";
PROHIBIT = SITE "T5";
PROHIBIT = SITE "R6";
PROHIBIT = SITE "T8";
PROHIBIT = SITE "N7";
PROHIBIT = SITE "N1";
PROHIBIT = SITE "M1";
PROHIBIT = SITE "K2";
PROHIBIT = SITE "C3";
PROHIBIT = SITE "F5";
PROHIBIT = SITE "G1";
PROHIBIT = SITE "E2";
PROHIBIT = SITE "D2";
PROHIBIT = SITE "D1";
PROHIBIT = SITE "E1";
PROHIBIT = SITE "G2";
PROHIBIT = SITE "J1";
PROHIBIT = SITE "K1";
PROHIBIT = SITE "M2";
PROHIBIT = SITE "N2";
PROHIBIT = SITE "P2";
COMP "oStartSystem" LOCATE = SITE "P14" LEVEL 1;
COMP "gReset" LOCATE = SITE "L14" LEVEL 1;
COMP "iSingleStep" LOCATE = SITE "M13" LEVEL 1;
COMP "oSingleStepLED" LOCATE = SITE "P11" LEVEL 1;
COMP "oModeLED<0>" LOCATE = SITE "N12" LEVEL 1;
COMP "oModeLED<1>" LOCATE = SITE "P12" LEVEL 1;
COMP "iMode<0>" LOCATE = SITE "K14" LEVEL 1;
COMP "iMode<1>" LOCATE = SITE "K13" LEVEL 1;
COMP "oDisplaySegment<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "oDisplaySegment<1>" LOCATE = SITE "N16" LEVEL 1;
COMP "oDisplaySegment<2>" LOCATE = SITE "F13" LEVEL 1;
COMP "oDisplaySegment<3>" LOCATE = SITE "R16" LEVEL 1;
COMP "oDisplaySegment<4>" LOCATE = SITE "P15" LEVEL 1;
COMP "oDisplaySegment<5>" LOCATE = SITE "N15" LEVEL 1;
COMP "oDisplaySegment<6>" LOCATE = SITE "G13" LEVEL 1;
COMP "oDisplaySegment<7>" LOCATE = SITE "E14" LEVEL 1;
COMP "iAutoSensed" LOCATE = SITE "M14" LEVEL 1;
COMP "iStartSystem" LOCATE = SITE "L13" LEVEL 1;
COMP "gClock" LOCATE = SITE "T9" LEVEL 1;
COMP "oAutoSensed" LOCATE = SITE "K12" LEVEL 1;
COMP "oDisplayEnable<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "oDisplayEnable<1>" LOCATE = SITE "G14" LEVEL 1;
COMP "oDisplayEnable<2>" LOCATE = SITE "F14" LEVEL 1;
COMP "oDisplayEnable<3>" LOCATE = SITE "E13" LEVEL 1;
NET "gClock_BUFGP/IBUFG" BEL "gClock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
