<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.python.pydev.debug.regularLaunchConfigurationType">
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.python.pydev.debug.ATTR_PROJECT" value="Star in Circle"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="C:/Documents and Settings/pickdp/My Documents/CSSE 120/Python Programs/test/src"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:/Documents and Settings/pickdp/My Documents/CSSE 120/Python Programs/test/src/gretting.py"/>
<stringAttribute key="org.python.pydev.debug.ATTR_INTERPRETER" value="__default"/>
<intAttribute key="org.python.pydev.debug.ATTR_RESOURCE_TYPE" value="1"/>
</launchConfiguration>
