//! **************************************************************************
// Written by: Map H.42 on Wed Dec 05 21:24:08 2007
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "T9";
PROHIBIT = SITE "L14";
PROHIBIT = SITE "M14";
PROHIBIT = SITE "M13";
PROHIBIT = SITE "K13";
PROHIBIT = SITE "K14";
PROHIBIT = SITE "J13";
PROHIBIT = SITE "J14";
PROHIBIT = SITE "H13";
PROHIBIT = SITE "H14";
PROHIBIT = SITE "G12";
PROHIBIT = SITE "F12";
PROHIBIT = SITE "P11";
PROHIBIT = SITE "P12";
PROHIBIT = SITE "P13";
PROHIBIT = SITE "N14";
PROHIBIT = SITE "L12";
PROHIBIT = SITE "K12";
PROHIBIT = SITE "E13";
PROHIBIT = SITE "F14";
PROHIBIT = SITE "G14";
PROHIBIT = SITE "D14";
PROHIBIT = SITE "E14";
PROHIBIT = SITE "G13";
PROHIBIT = SITE "N15";
PROHIBIT = SITE "P15";
PROHIBIT = SITE "R16";
PROHIBIT = SITE "F13";
PROHIBIT = SITE "N16";
PROHIBIT = SITE "P16";
PROHIBIT = SITE "T13";
PROHIBIT = SITE "R13";
PROHIBIT = SITE "N10";
PROHIBIT = SITE "T14";
PROHIBIT = SITE "M16";
PROHIBIT = SITE "M15";
PROHIBIT = SITE "R12";
PROHIBIT = SITE "T12";
PROHIBIT = SITE "R11";
PROHIBIT = SITE "R9";
PROHIBIT = SITE "T10";
PROHIBIT = SITE "P7";
PROHIBIT = SITE "T4";
PROHIBIT = SITE "P6";
PROHIBIT = SITE "N5";
PROHIBIT = SITE "R4";
PROHIBIT = SITE "P5";
PROHIBIT = SITE "K4";
PROHIBIT = SITE "G3";
PROHIBIT = SITE "L3";
PROHIBIT = SITE "K5";
PROHIBIT = SITE "K3";
PROHIBIT = SITE "J3";
PROHIBIT = SITE "J4";
PROHIBIT = SITE "H4";
PROHIBIT = SITE "H3";
PROHIBIT = SITE "G5";
PROHIBIT = SITE "E4";
PROHIBIT = SITE "E3";
PROHIBIT = SITE "F4";
PROHIBIT = SITE "F3";
PROHIBIT = SITE "G4";
PROHIBIT = SITE "L4";
PROHIBIT = SITE "M3";
PROHIBIT = SITE "M4";
PROHIBIT = SITE "N3";
PROHIBIT = SITE "L5";
PROHIBIT = SITE "R1";
PROHIBIT = SITE "P1";
PROHIBIT = SITE "L2";
PROHIBIT = SITE "J2";
PROHIBIT = SITE "H1";
PROHIBIT = SITE "F2";
PROHIBIT = SITE "P8";
PROHIBIT = SITE "D3";
PROHIBIT = SITE "B1";
PROHIBIT = SITE "C1";
PROHIBIT = SITE "C2";
PROHIBIT = SITE "R5";
PROHIBIT = SITE "T5";
PROHIBIT = SITE "R6";
PROHIBIT = SITE "T8";
PROHIBIT = SITE "N7";
PROHIBIT = SITE "N1";
PROHIBIT = SITE "M1";
PROHIBIT = SITE "K2";
PROHIBIT = SITE "C3";
PROHIBIT = SITE "F5";
PROHIBIT = SITE "G1";
PROHIBIT = SITE "E2";
PROHIBIT = SITE "D2";
PROHIBIT = SITE "D1";
PROHIBIT = SITE "E1";
PROHIBIT = SITE "G2";
PROHIBIT = SITE "J1";
PROHIBIT = SITE "K1";
PROHIBIT = SITE "M2";
PROHIBIT = SITE "N2";
PROHIBIT = SITE "P2";
COMP "iSelect" LOCATE = SITE "L13" LEVEL 1;
COMP "oRight" LOCATE = SITE "P14" LEVEL 1;
COMP "oLeft" LOCATE = SITE "N12" LEVEL 1;
SCHEMATIC END;
