body {
	color: #111111;
	background-color: #FDFDFD;
	font-size: 90%;
}

li {
	margin-top: 0.5ex;
}

h1 {
	text-align: center;
	font-size: 150%;
	color: #F8F8F8;
	background-color: #660000;
	border-top: gray 3px solid;
	border-bottom: gray 3px solid;
	padding: 1ex;
	clear: both;
}

h2 {
	text-align: center;
	font-size: 150%;
	clear: both;
	padding-top: 0.25ex;
	padding-bottom: 0.25ex;
	border-top: #111111 2px solid;
	border-bottom: #111111 2px solid;
}

h3 {
	font-size: 135%;
	clear: both;
	padding-bottom: 0.25ex;
	border-bottom: #111111 1px solid;
}

h4 {
	font-size: 120%;
	font-style: italic;
	font-weight: bold;
	clear: both;
	border-bottom: #333333 1px solid;
	margin-bottom: 1ex;
}

h5 {
	font-size: 100%;
	font-weight: bold;
	margin-top: 1ex;
	margin-bottom: 0ex;
}

pre {
	margin-top: 0.5ex;
	margin-bottom: 0.5ex;
}

div.sample {
	border: #333333 2px solid;
	padding: 0.5ex 2ex 0.5ex 2ex;
	margin: 1ex 6ex 1ex 6ex;
}

table.addresses {
	margin-left: 2ex;
	margin-right: 2ex;
}

table.bordered {
	margin-left: auto;
	margin-right: auto;
	border-top: #111111 2px solid;
	border-bottom: #111111 2px solid;
}

td {
	vertical-align: top;
	padding-left: 1ex;
	padding-right: 1ex;
}

th {
	margin-left: 1ex;
	margin-right: 1ex;
	border-bottom: #111111 1px solid;
}

td.addrKinds {
	width: 6em;
}

p {
	margin-top: 1ex;
	margin-bottom: 1ex;
}

.note {
	font-size: 85%;
	color: #666666;
}

.left {
	float: left;
	padding-right: 10px;
}

.right {
	float: right;
	padding-left: 10px;
}

img {
	padding-top: 10px;
	padding-bottom: 10px;
}

.clear {
	clear: both;
}

.rightJustify {
	text-align: right;
}

.centered {
	text-align: center;
}

ol ol {
	list-style-type: lower-alpha;
}

.highlight {
	
	background:silver
}